* {padding:0px; margin:0px; line-height:100%;}
/*span { line-height: 0; }
span:after { display: inline-block; height: 1.5em; }*/
body {
    font-family: RobotoRegular,'Noto Sans','Apple SD Gothic Neo',Helvetica,Arial,sans-serif;
}
.hide {
    visibility: hidden;
    display: none;
}
/* Common */


/* Component */

/* App */
.AppContainer {

}

/* Header */
.headerContainer {

}
