.agencyFinderContainer .selectGeoLocation{
    width: 33.3%;
    border: none;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid #D5D5D5;
}
.agencyFinderContainer .selectGeoLocation:last-child{
    border-right: none;
}