.loginContainer {
    width: 460px;
    margin: 121px auto 0;
}

.loginContainer .loginBody {
    width: 100%;
    text-align: center;
}
.loginLogo {
    margin: 10px auto;
}
.loginBox {
    width: 100%;
    height: 545px;
    padding: 30px 35px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 18px 62px 58px 0 rgba(0, 0, 0, 0.09);
}

/*or*/
.border {
    color: #e0e0e0;
    margin: 18px 0;
    text-align: center;
}
/*form*/
.loginForm {
    width: 100%;
}
.loginForm label {
    height: 59px;
    line-height: 59px;
    width: 100%;
}
.loginForm input {
    margin-left: 20px;
    border: 0;
    width: 75%;
    height: 90%;
}
.loginForm label:first-child {
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}
.loginForm label:last-child {
    border-bottom: solid 1px #e0e0e0;
}
/*link to signup*/
.boxFooter {
    margin-top: 32px;
}

.boxFooter a {
    color: #fd0a0a;
}
/*footer*/
.loginFooter {
    margin-top: 54px;
    text-align: center;
}
.loginFooter a {
    color: #272727;
}
.loginFooter .logoBox {
    font-size: 12px;
    color: #272727;
    line-height: 23px;
    width: 50%;
    margin: 12px auto;
    text-align: center;
}

.loginFooter .logoBox div {
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 55px;
    height: 20px;
    background-position: 112px 128px;
    float: left;
}
.signupFooter {
    margin-top: 54px;
    text-align: center;
}
.signupFooter a {
    color: #272727;
}
.signupFooter .logoBox {
    font-size: 12px;
    color: #272727;
    line-height: 23px;
    width: 50%;
    margin: 12px auto;
}

.signupFooter .logoBox div {
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 55px;
    height: 20px;
    background-position: 112px 128px;
    float: left;
}

/* logo btn */

.loginBtn {
    margin-bottom: 10px;
}
/*button Common*/
.authBtn {
    height: 56px;
    width: 371px;
    margin: 8px auto;
    border-radius: 4px;
}
/* kakao button */

.kakao {
    background-color: #feea02;
}
.kakaoBody {
    overflow: hidden;
    padding: 18px 36px;
}
.kakaoBody div:first-child {
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 22px;
    height: 19px;
    background-position:  113px -63px;
    float: left;
}
.kakaoBody span:nth-child(2) {
    opacity: 0.5;
    float: left;
    margin: 0 30px;
}
.kakaoBody div:last-child {
    color: #4c2c10;
    font-size: 16px;
    float: left;
    line-height: 21px;
}

/* naver button */

.naver {
    background-color: #1dc800;
}
.naverBody {
    overflow: hidden;
    padding: 18px 36px;
}
.naverBody div:first-child {
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 22px;
    height: 19px;
    background-position:  113px 40px;
    float: left;
}
.naverBody span:nth-child(2) {
    opacity: 0.5;
    float: left;
    margin: 0 30px;
}
.naverBody div:last-child {
    color: #ffffff;
    font-size: 16px;
    float: left;
    line-height: 21px;
}

/* facebook button */

.facebook {
    background-color: #395a90;
}
.facebookBody {
    overflow: hidden;
    padding: 18px 36px;
}
.facebookBody div:first-child {
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 22px;
    height: 18px;
    background-position:  113px 19px;
    float: left;
}
.facebookBody span:nth-child(2) {
    opacity: 0.5;
    float: left;
    margin: 0 30px;
}
.facebookBody div:last-child {
    color: #ffffff;
    font-size: 16px;
    float: left;
    line-height: 21px;
}

/* login button : red button */

.loginBtn {
    background-color: #fd0a0a;
    overflow: hidden;
    padding: 20px 36px;
    color: #ffffff;
    text-align: center;
}

/* sellev button */

.sellevBtn {
    height: 56px;
    width: 371px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    border: solid 1px #e5e5e5;
}
.sellevBody {
    overflow: hidden;
    padding: 18px 36px;
}
.sellevBody div:first-child {
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 55px;
    height: 20px;
    background-position: 112px 128px;
    float: left;
}
.sellevBody span:nth-child(2) {
    opacity: 0.5;
    float: left;
    margin: 0 30px;
}
.sellevBody div:last-child {
    font-size: 16px;
    float: left;
    line-height: 21px;
}
/*Find Password*/
.findPasswordContainer {
    width: 460px;
    margin: 100px auto 50px;
}

/* signup */
.signupContainer {
    width: 460px;
    margin: 100px auto 50px;
}
input[type=checkbox].signupCheckbox:checked + label.ckeckboxBlackIcon {
    width: 24px;
    height: 24px;
    background-image: url("/Sellev/assets/img/ic_web_icon.png");
    background-position: -30px 75px;
    position: relative;
    top: 15px;
}
input[type=checkbox].signupCheckbox + label.ckeckboxBlackIcon{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url("/Sellev/assets/img/ic_web_icon.png");
    background-position: -30px -54px;
    position: relative;
    top: 15px;
}
input[type=checkbox].signupCheckbox {
    display: none;
    position: relative;
}
.ckeckboxLabel {
    display: inline-block;
}

/*Common */
.authBody {
    width: 100%;
}
.authLogo {
    width: 163px;
    height: 49px;
    background-image: url("/Sellev/assets/img/logo_sellev_auth.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.authLogoMobile {
    display: none;
    width: 24px;
    height: 24px;
    background-image: url("/Sellev/assets/img/ic_common.png");
    background-position: 84px 24px;
}
.authBox {
    min-height: 328px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 18px 62px 58px 0 rgba(0, 0, 0, 0.09);
    padding: 32px 26px;
}
.authTitle {
    font-size: 24px;
    font-weight: bold;
    width: 407px;
    margin: 0 auto;
    line-height: 1.5em;
}

/*Responsive */
@media screen and (max-width: 768px) {
    .signupContainer {
        max-width: 768px;
        width: auto;
        margin: 100px 30px 50px;
    }
    .authLogo {
        display: none;
    }
    .authLogoMobile {
        display: block;
    }
    .authBox {
        padding: 0;
        border: 0;
        box-shadow: none;
    }
    .authTitle {
        font-size: 35px;
        width: 100%;
    }
    .authBtn.loginBtn {
        width: 100%;
        border-radius: 0;
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 0;
    }
    .signupFooter {
        display: none;
    }
    /*비밀번호찾기*/
    .findPasswordContainer {
        max-width: 768px;
        width: auto;
        margin: 100px 30px 50px;
    }
    .authTitle.findPasswordTitle {
        width: 211px;
        text-align: left;
        margin: 0;
    }
    .loginFooter {
        display: none;
    }
    /*로그인*/
    .loginContainer {
        max-width: 768px;
        width: auto;
        margin: 100px 30px 50px;
    }
}