/*Common*/
.redCircle {
    width: 17px;
    height: 17px;
    background-image: url(/Sellev/assets/img/ic_web_icon.png);
    background-position: -160px 61px;
}
.likeImage {
    background-image: url(/Sellev/assets/img/ic_common.png);
    width: 20px;
    height: 20px;
    background-position: 0 85px;
    margin-top: -2px;
}
/* Banner */
.fundingMarketSection {
    margin-top: 100px;
    width: 100%;
}
.fundingMarketHeader {
    width: 1100px;
    margin: 0 auto 20px;
}
.bannerBody{
    overflow: hidden;
}
.listBox {
    position: relative;
    width: 323px;
    height: 400px;
    padding: 2px 4.5px;
    float: left;
}

.listBox .bgImage {
    width: 100%;
    height: 229px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.listBox .bgFooter {
    width: 100%;
    height: 121px;
    background: black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
}

.titleBox{
    position: relative;
    width: 170px;
    bottom: 107px;
    left: 30px;
    color: #ffffff;
}
.titleBox div:first-child{
    font-size: 11px;
    line-height: 1.5em;
}
.titleBox div:nth-child(2){
    font-size: 17px;
    line-height: 1.5em;
}
.titleBox div:last-child{
    font-size: 13px;
    line-height: 1.5em;
    color: #ff2b2b;
}
.fundSymbole {
    width: 62px;
    height: 62px;
    background-color: #f40000;
    border-radius: 31px;
    color: #ffffff;
    right: 10px;
    top: -44px;
    position: absolute;
    padding-top: 10px;
    text-align: center;
}
.fundSymbole span:first-child {
    font-size: 11px;
}
.fundSymbole span:last-child {
    font-size: 19px;
}
/*Funding Market */
.fundingMarketBody {
    width: 1100px;
    margin: 50px auto 0;
}
.fundingMarketBody .productBody {
    overflow: hidden;
    margin: 30px auto;
}
.fundingMarketBody .productBody .productBox {
    float: left;
    margin-right: 11px;
}
/***********funding Detail*************/
.fundingContainer {
    width: 1100px;
    margin: 100px auto 0;
}
.fundingHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.fundingNameBox {
    font-size: 13px;
    font-weight: bold;
    display: inline-flex;
    margin-bottom: 11px;
}
.fundingNameBox .profile {
    width: 34px;
    height: 34px;
    background-position: center;
    background-size: cover;
}
.fundingNameBox span {
    line-height: 36px;
}
.fundingTitileBox {
    font-size: 30px;
    font-weight: bold;
}
.fundingBody {
    width: 100%;
    overflow: hidden;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.35);
}
.fundingBody .bgImage {
    width: 664px;
    height: 467px;
    float: left;
}
.fundingBox {
    width: 307px;
    float: right;
    font-weight: bold;
    height: 467px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.35);
    border-top: 1px solid rgba(151, 151, 151, 0.35);
    padding-top: 39px;
}
.fundingBox .priceTitle {
    font-size: 18px;
}
.fundingBox .price {
    font-size: 18px;
    margin: 15px 0 9px;
}
.fundingBox .price span{
    font-size: 37px;
}
.fundingBox .percentage {
    font-size: 18px;
}
.fundingOthers {
    overflow: hidden;
}
.fundingOthers li {
    float: left;
    margin-right: 30px;
}
.fundingOthers li div:first-child {
    font-size: 13px;
}
.fundingOthers li div:last-child {
    font-size: 29px;
    font-weight: bold;
}
.fundingBtnBox {
    margin: 37px 0 32px;
}
.fundingBtnBox .fundingBtn {
    padding: 16px 0;
    text-align: center;
    margin-bottom: 10px;
}
.fundingBtnBox  .likeBtn {
    padding: 16px 37%;
    display: inline-flex;
}
/*progress bar*/
.progressBox {
    position: relative;
    margin: 22px 0 24px;
}
.progressBox .progress {
    background-color: #ebeaeb;
    height: 4px;
    margin: 13px auto;
}
.progressBox .progress .progressBar {
    height: 4px;
    background-color: #fd0a0a;
}
.progressNum {
    position: absolute;
    font-size: 12px;
    width: 41px;
    height: 20px;
    border-radius: 100px;
    background-color: #191919;
    color: #ffffff;
    bottom: -10px;
    /*right: 40%;*/
    text-align: center;
    padding-top: 6px;
}
/*detail content 펀딩설명 개요 상세정보 .. */
.detailContentList {
    width: 100%;
}
.detailContentList li {
    width: 664px;
    padding: 15px 0;
}
.detailContentList li div {
    line-height: 2em;
}
.detailContentList li .contentTitle {
    font-size: 20px;
    font-weight: bold;
}
.detailContentList .notificationTitle {
    font-size: 24px;
    font-weight: bold;
}
.detailContentList .notificationTitle span {
    color: #fd0a0a;
}
.detailContentList li .goalBox li {
    font-size: 14px;
    font-weight: bold;
}
.detailContentList li .goalBox li span:first-child {
    color: #b6b6b6;
}

@media screen and (max-width: 1100px){
    .fundingMarketBody {
        width: 830px;
    }
}

@media screen and (max-width: 768px){
    .bannerBody {
        width: 100%;
    }
    .fundingMarketBody {
        max-width: 768px;
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    .fundingMarketBody .productBody .productBox {
        margin-right: 0;
        float: none;
    }
}