.signupContainer {
    width: 460px;
    margin: 121px auto 0;
}
.signupContainer .signupBody {
    width: 100%;
    text-align: center;
}
.signupLogo {
    margin: 10px auto;
}
.signupBox {
    width: 100%;
    height: 446px;
    padding: 30px 35px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 18px 62px 58px 0 rgba(0, 0, 0, 0.09);
}
.signupBox .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 22px;
    text-align: left;
    line-height: 1.4em;
    padding: 0 10px;
}

/*or*/
.signupBox .border {
    color: #e0e0e0;
    margin: 18px 0;
}

/*footer*/
.signupFooter {
    margin-top: 54px;
    text-align: center;
}
.signupFooter a {
    color: #272727;
}
.signupFooter .logoBox {
    font-size: 12px;
    color: #272727;
    line-height: 23px;
    width: 50%;
    margin: 12px auto;
}

.signupFooter .logoBox div {
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 55px;
    height: 20px;
    background-position: 112px 128px;
    float: left;
}