.agencyContainer {
    position: relative;
    margin: 15px auto;
    padding: 0 25px;
    max-width: 1024px;
}

/***********
AGENCY SECTION
************/
.agencyContainer .agencySection {
    float: left;
    padding: 0 0 15px 0;
}
.agencyContainer .agencySectionBox {
    margin-bottom: 15px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    font-size: 15px;
}
.agencyContainer .agencySectionBoxTitle {
    margin: 10px;
    font-weight: 700;
    font-size: 15px;
}
.agencyContainer .agencySection .agencyBanner {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.agencyContainer .agencySection .agencyProfileImg {
    position: absolute;
    top: 145px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    width: 70px;
    height: 70px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.agencyContainer .agencySection .agencyName {
    margin-bottom: 10px;
    font-size: 24px;
    color: #444444;
    text-align: center;
}
.agencyContainer .agencySection .name {
    margin-bottom: 10px;
    color: #666666;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.agencyContainer .agencySection .ceoName, .agencyContainer .agencySection .phoneNumber, .agencyContainer .agencySection .address {
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: #666666;
}
.agencySection .address{
    margin-bottom: 15px;
}
.agencyContainer .agencySection .favoriteBtn {
    border-top: 1px solid #ECECEC;
    height: 50px;
    line-height: 50px;
    color: #666666;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.agencyContainer .agencySection .favoriteBtn i {
    margin-right: 5px;
}
.agencyContainer .agencySection .favoriteBtn.active i {
    color: #E74141;
}
.agencyContainer .agencySection .favoriteBtn:hover {
    background-color: #F4F4F4;
}
.agencyContainer .locationMap{

}
/**********
HOUSE SECTION
***********/
.agencyContainer .houseSection {
    float: left;
    padding: 0 0 15px 15px;
}
.agencyContainer .houseSectionBox {
    margin-bottom: 15px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
}
.agencyContainer .houseSectionBoxTitle{
    margin: 10px;
    font-weight: 700;
    font-size: 15px;
}
.agencyContainer .houseSectionBoxItem{
    margin-bottom: 0;
    border: none;
    border-top: 1px solid #ECECEC;
}
.agencyContainer .houseSectionBox .noAgency {
    padding: 15px;
    color: #BBBBBB;
    text-align: center;
    font-size: 15px;
}
.agencyContainer .houseSectionBox .noAgency:last-child {
    padding-top: 0;
}
.agencyContainer .houseSectionBox .noAgency i {
    font-size: 50px;
}