.houseContainer {
    position: relative;
    margin: 15px auto;
    padding: 0 25px;
    max-width: 1024px;
}
/**********
HOUSE SECTION
***********/
.houseContainer .houseSection {
    float: left;
    padding: 0 0 15px 0;
}
.houseContainer .houseSectionBox {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
}
.houseContainer .houseSectionBoxTitle{
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 15px
}
.houseContainer .photoBox {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}
.houseContainer .photoBox .underBox {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
}
.houseContainer .photoBox .houseId {
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 14px;
    z-index: 10;
}
.houseContainer .titleBox{
    margin-bottom: 30px;
}
.houseContainer .titleBox .title{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
}
.houseContainer .titleBox .subtitle{
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 700;
}
.houseContainer .titleBox .address{
    font-size: 16px;
    color: #666666;
}
.houseContainer .titleBox .description{
    line-height: 20px;
    font-size: 15px;
    color: #666666;
}
.houseContainer .infoBox{

}
.houseContainer .infoBox .btnBox {
    margin-top: 15px;
    text-align: center;
}
.houseContainer .infoTable{
    width: 100%;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}
.houseContainer .infoTableTr{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #D7D7D7;
}
.houseContainer .infoTableTr:last-child{
    border-bottom: none;
}
.houseContainer .infoTableTr .checkBox {
    margin-right: 15px;
    line-height: 30px;
}
.houseContainer .infoTableThName{
    padding: 10px;
    width: 15%;
    line-height: 16px;
    font-weight: 700;
    font-size: 14px;
    border-right: 1px solid #D7D7D7;
    background-color: #F4F4F4;
}
.houseContainer .infoTableThValue{
    padding: 10px;
    width: 35%;
    font-size: 13px;
    font-weight: 500;
    color: #444444;
}
.houseContainer .infoTableOption{
    margin-top: 15px;
}

.houseContainer .locationMap{

}

.houseContainer .textArea{
    white-space: pre-line;
    line-height: 25px;
}

.houseContainer .btnActive{
    height: 40px;
    line-height: 37px;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    background-color: #FFFFFF;
    padding: 0 25px;
}
.houseContainer .priceNumber{
    font-size: 16px;
    font-weight: 700;
}
.houseContainer .type{
    float: left;
    margin-right: 10px;
    padding: 2px 5px;
    line-height: 14px;
    font-size: 11px;
    color: #FFFFFF;
    border-radius: 3px;
}
.houseContainer .type.type1{
    background-color: #FF5C5C;
}
.houseContainer .type.type2{
    background-color: #87b555;
}
.houseContainer .type.type3{
    background-color: #f6c023;
}
/***********
AGENCY SECTION
************/
.houseContainer .agencySection {
    float: left;
    padding: 0 0 15px 15px;
}
.houseContainer .agencySectionBox {
    margin-bottom: 15px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    font-size: 15px;
}
.houseContainer .agencySectionBoxTitle {
    padding: 13px 10px;
    font-weight: 400;
    font-size: 15px;
    border-bottom: 1px solid #ECECEC;
    letter-spacing: -0.2px;
    color: #3D3D3D;
}
.houseContainer .agencySection .agencyBanner {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
    height: 135px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.houseContainer .agencySection .agencyProfileImg {
    position: absolute;
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    width: 70px;
    height: 70px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.houseContainer .agencySection .agencyName {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: #444444;
    text-align: center;
}
.houseContainer .agencySection .name {
    display: block;
    margin-bottom: 10px;
    color: #666666;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
}
.houseContainer .agencySection .ceoName, .houseContainer .agencySection .phoneNumber, .houseContainer .agencySection .address {
    display: block;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: #666666;
}
.agencySection .address{
    margin-bottom: 15px;
}
.houseContainer .agencySection .inquiryBtn {
    margin: 0 15px 10px 15px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    background-color: #5D648D;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.houseContainer .agencySection .inquiryBtn:hover {
    background-color: #4C537C;
}
.houseContainer .agencySection .inquiryDesc {
    margin-bottom: 15px;
    font-size: 11px;
    color: #999999;
    font-weight: 700;
    text-align: center;
}
.houseContainer .agencySection .favoriteBtn {
    border-top: 1px solid #ECECEC;
    height: 50px;
    line-height: 50px;
    color: #666666;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}
.houseContainer .agencySection .favoriteBtn i {
    margin-right: 5px;
}
.houseContainer .agencySection .favoriteBtn.active i {
    color: #E74141;
}
.houseContainer .agencySection .favoriteBtn:hover {
    background-color: #F4F4F4;
}
.houseContainer .agencySection .noAgency {
    padding: 15px;
    color: #BBBBBB;
    text-align: center;
    font-size: 15px;
}
.houseContainer .agencySection .noAgency:last-child {
    padding-top: 0;
}
.houseContainer .agencySection .noAgency i {
    font-size: 50px;
}
.houseContainer .otherHousesItem {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #ECECEC;
}
.houseContainer .otherHousesItem:last-child{
    border-bottom: none;
}
