/**************ImageList*************/
/*funding market*/
.listContainer {
    position: relative;
    overflow: hidden;
}
.imageBox {
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.profileBox {
    background-size: cover;
    background-position: center;
    width: 33px;
    height: 33px;
    border: 1.5px solid #ffffff;
    border-radius: 17px;
    position: absolute;
    right: 10px;
    top: 110px;
}
.fundingMarketBody {
    font-weight: bold;
    width: 264px;
    margin-bottom: 30px;
    height: 160px;
}
.fundingMarketBody .fundingMarketArtist {
    font-size: 13px;
    color: #979797;
    line-height: 2em;
}
.fundingMarketBody .fundingMarketTitle {
    font-size: 15px;
    line-height: 2em;
}


/*video*/
.videoList {
    width: 100%;
}
.videoList .listTitle {
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 19px;
}
.videoList .listBody {
    font-size: 13px;
    color: #979797;
    line-height: 30px;
}
.videoList .listBody div {
    display: inline-block;
}
.videoList .listBody .likeImg{
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 20px;
    height: 20px;
    background-position: 0 85px;
}

/*funding*/
.fundBox {
    margin-top: 25px;
    overflow: hidden;
}
.fundPercent {
    float: left;
    margin-right: 20px;
}

.fundAttendant {
    float: left;
    margin-right: 20px;
}
.left {
    float: left;
    margin-right: 20px;
}
.goal {
    float: left;
}
.fundPercent div:first-child,
.fundAttendant div:first-child,
.left div:first-child {
    color: #fd0a0a;
    font-size: 18px;
    font-weight: bold;
}
.goal div:first-child {
    color: #161616;
    line-height: 18px;
}
.goal div:first-child span {
    font-size: 13px;
}

.fundPercent div:last-child,
.fundAttendant div:last-child,
.left div:last-child,
.goal div:last-child {
    font-size: 12px;
    color: #979797;
    line-height: 2em;
}
/*progress bar*/
.progressBox {
    position: relative;
}
.progressBox .progress {
    background-color: #ebeaeb;
    height: 4px;
    margin: 13px auto;
}
.progressBox .progress .progressBar {
    height: 4px;
    background-color: #fd0a0a;
}
.progressNum {
    position: absolute;
    font-size: 12px;
    width: 41px;
    height: 20px;
    border-radius: 100px;
    background-color: #191919;
    color: #ffffff;
    bottom: -10px;
    /*right: 40%;*/
    text-align: center;
    padding-top: 6px;
}


/*market*/

.marketPrice {
    font-size: 18px;
    color: #fd0a0a;
    float: left;
}
.marketPrice div {
    background-image: url('/Sellev/assets/img/ic_web_icon.png');
    width: 20px;
    height: 20px;
    background-position: -122px 75px;
    float: left;
    margin-top: -2px;
}
.marketBox {
    line-height: 1.5em;
    overflow: hidden;
}
.marketOption {
    float: left;
    font-size: 12px;
    line-height: 18px;
}
.marketOption span:first-child {
    color: #979797;
    margin: 0 10px;
}
.marketOption span:last-child {
    color: #fd0a0a;
}

@media screen and (max-width: 768px){
    .imageBox {
        min-width: 100%;
        min-height: 242px;
        border-radius: 7px;
    }
    .profileBox {
        width: 55px;
        height: 55px;
        border-radius: 30px;
        border: 1.5px solid #ffffff;
        top: 210px;
    }
    .fundingMarketBody {
        width: 100%;
    }
    .fundingMarketBody .fundingMarketTitle,
    .marketPrice,
    .fundPercent div:first-child,
    .fundAttendant div:first-child,
    .left div:first-child,
    .goal div:first-child {
        font-size: 25px;
    }
    .goal {
        float: right;
    }
    .fundBox {
        padding: 10px 0;
    }
    .videoList .listTitle {
        font-size: 23px;
        line-height: 35px;
    }
    .videoList .listBody {
        font-size: 17px;
        line-height: 38px;
    }
}