/**************ImageList*************/
/*video*/
.imageBox {
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.videoList {
    width: 100%;
}
.videoList .listTitle {
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 19px;
}
.videoList .listBody {
    font-size: 13px;
    color: #979797;
    line-height: 30px;
}
.videoList .listBody div {
    display: inline-block;
}
.videoList .listBody .likeImg{
    background-image: url('/Sellev/assets/img/ic_common.png');
    width: 20px;
    height: 20px;
    background-position: 0 85px;
}

@media screen and (max-width: 768px){
    .imageBox {
        min-width: 100%;
        min-height: 100%;
        display: block;
        border-radius: 12px;
    }
    .videoList .listTitle {
        font-size: 23px;
        line-height: 35px;
    }
    .videoList .listBody {
        font-size: 17px;
        line-height: 38px;
    }
}