.swipeBanner {
    display: block;
    float: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    width: 100%;
}