body {
    margin: 0;
    padding: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 14px;
}
/*Category Title*/
.sectionTitle {
    font-family: 'Apple SD Gothic Neo';
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1.2px;
    color: #161616;
}

.sectionWhiteTitle {
    font-family: 'Apple SD Gothic Neo';
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1.2px;
    color: #ffffff;
}

.sectionSmallTitle {
    font-family: 'Product Sans';
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    color: #a0a0a0;
    letter-spacing: -0.5px;
}
.titleBox {
    overflow: hidden;
}
.titleBox .sectionTitle {
    float: left;
}
.titleBox .more {
    color: #fd0a0a;
    font-size: 16px;
    float: right;
    padding-top: 11px;
}

/*Autentication form */
.formGroup {
    width: 407px;
    margin: 23px auto;
}
.formGroup .formRow {
    width: 100%;
    height: 59px;
    line-height: 59px;
    display: inline-flex;
}
.formGroup .formRow.disabled {
    background-color: #f8f8f8;
}
.formGroup .formRow {
    border-top: 1px solid #e0e0e0;
}
.formGroup .formRow:last-child {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.formRow .formInputName {
    font-size: 15px;
    width: 30%;
    line-height: 59px;
    font-weight: bold;
    padding-left: 5px;
}
.formRow.disabled .formInputName {
    color: #dcdcdc;
    background-color: #f8f8f8;
}
.formInputName.newPasswordName {
    display: none;
    text-align: center;
    padding: 17px 7px 17px 5px;
    line-height: 1.5em;
}
.formRow .inputWithVerify {
    width: 55%;
    height: 50px;
    margin: 5px 0;
    border: 0;
}
.formRow .formInputWithVerify {
    width: 70%;
    height: 50px;
    margin: 5px 0;
    border: 0;
}
/*auth button*/
.formRow .inputVerifyBox {
    width: 15%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
}
.formRow .inputVerifyBox.disabled {
    background-color: #dcdcdc;
    cursor: default;
    color: #ffffff;
}
.formRow .inputVerifyBox.activeBlack {
    background-color: #292929;
    cursor: pointer;
    color: #ffffff;
}
.formRow .inputVerifyBox.activeWhite {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    cursor: pointer;
}

.formRow .formInput {
    /*width: 65%;*/
    height: 50px;
    margin: 5px 0;
    border: 0;
}
.formRow input.formInput:disabled {
    cursor: default;
    background-color: #f8f8f8;
}
.formRow input.formInput:disabled::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    background-color: #f8f8f8;
    color: #dcdcdc;
}

.formRow .agreeLabel {
    height: 59px;
    line-height: 59px;
    position: relative;
}

/*warning message*/
.formInputWarn {
    font-size: 14px;
    color: #ff0000;
    padding-top: 13px;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 13px;
}
.formInputAlert {
    color: #979797;
    padding-top: 13px;
    border-top: 1px solid #e0e0e0;
    margin-bottom: 13px;
    font-size: 14px;
}
.red {
    color: #ff0000;
}
.bold {
    font-weight: bold;
}


@media screen and (max-width: 768px){
    .formGroup {
        width: 100%;
    }
    .formInputName.newPasswordName {
        display: block;
    }
}