<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script language="javascript">
    function init(){
        var url = location.href;
        var confmKey = "U01TX0FVVEgyMDE3MTAwNjIwMTg0ODEwNzM5MDI="; // 모바일 팝업 Key
        var resultType = "4"; // 도로명주소 검색결과 화면 출력유형, 1 : 도로명, 2 : 도로명+지번, 3 : 도로명+상세건물명, 4 : 도로명+지번+상세건물명
        <% if (juso.inputYn == 'Y') { %>
        awaitPostMessage();
        var juso = <%-JSON.stringify(juso)%>;
        if (window.__REACT_WEB_VIEW_BRIDGE) {
            window.__REACT_WEB_VIEW_BRIDGE.postMessage(JSON.stringify(juso));
        }
        else if (String(window.postMessage) === 'function () { [native code] }') {
            window.postMessage(JSON.stringify(juso));
        }else {
            window.postMessage(JSON.stringify(juso));
        }
        <% } else { %>
        document.form.confmKey.value = confmKey;
        document.form.returnUrl.value = url;
        document.form.resultType.value = resultType;
        document.form.action="http://www.juso.go.kr/addrlink/addrMobileLinkUrl.do"; // 인터넷망
        document.form.submit();
        <% } %>
    }
    function awaitPostMessage() {
        var isReactNativePostMessageReady = !!window.originalPostMessage;
        var queue = [];
        var currentPostMessageFn = function store(message) {
            if (queue.length > 100) queue.shift();
            queue.push(message);
        };
        if (!isReactNativePostMessageReady) {
            var originalPostMessage = window.postMessage;
            Object.defineProperty(window, 'postMessage', {
                configurable: true,
                enumerable: true,
                get: function () {
                    return currentPostMessageFn;
                },
                set: function (fn) {
                    currentPostMessageFn = fn;
                    isReactNativePostMessageReady = true;
                    setTimeout(sendQueue, 0);
                }
            });
            window.postMessage.toString = function () {
                return String(originalPostMessage);
            };
        }

        function sendQueue() {
            while (queue.length > 0) window.postMessage(queue.shift());
        }
    }

</script>
<body onload="init();">
<form id="form" name="form" method="post">
    <input type="hidden" id="confmKey" name="confmKey" value=""/>
    <input type="hidden" id="returnUrl" name="returnUrl" value=""/>
    <input type="hidden" id="resultType" name="resultType" value=""/>
    <!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 START-->
    <!--
    <input type="hidden" id="encodingType" name="encodingType" value="EUC-KR"/>
     -->
    <!-- 해당시스템의 인코딩타입이 EUC-KR일경우에만 추가 END-->
</form>
<% if (juso.inputYn == 'Y') { %>
<% } %>
</body>
</html>