/* Common */
body {
    font-family: RobotoRegular,'Noto Sans','Apple SD Gothic Neo',Helvetica,Arial,sans-serif;
}
.sectionTitle {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1.2px;
    color: #161616;
}

.sectionSmallTitle {
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    color: #a0a0a0;
    letter-spacing: -0.5px;
}

/* Banner */
.bannerBody{
    overflow: hidden;
}
.bannerSection {
    width: 100%;
    height: 385px;
    background-color: black;
    padding-top: 60px;
    margin-top: 85px;
}
.BannerHeader {
    width: 1100px;
    margin: 0px auto 20px;
}
.BannerHeader .sectionTitle{
    color: #FFFFFF;
}

/* Funding */
.fundingSection {
    margin-top: 120px;
}
.fundingHeader {
    width: 1100px;
    margin: 0 auto 22px;
}

/* HashTag */
.hashTagSection {

}

/* Video */
.videoSection {

}