
/* Menu */
.menuContainer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 180px;
    background-color: #2E3A4D;
}
.menuContainer .menuHeader{
    padding: 30px 0;
    text-align: center;
}
.menuContainer .menuHeaderIcon{
    width: 140px;
}
.menuContainer .menuBox{

}
.menuContainer .menuBoxTitle{
    height: 40px;
    line-height: 40px;
    color: #999999;
    font-size: 13px;
}
.menuContainer .menuBoxUl{
    margin: 0;
    padding: 0;
}
.menuContainer .menuBoxLl{
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.menuContainer .menuBoxLl.active{
    background-color: #e74141;
}
.menuContainer .menuBoxLlnk{
    display: block;
    text-decoration: none;
}
.menuContainer .menuIcon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 0;
    font-size: 14px;
    color: #e74141;
}
.menuContainer .menuText{
    overflow: hidden;
    display: inline-block;
    margin-left: 10px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #999999;
}
.menuContainer .menuBoxLl:hover .menuText{
    color: #FFFFFF;
    font-weight: 700;
}
.menuContainer .menuBoxLl.active .menuText{
    color: #FFFFFF;
    font-weight: 700;
}
.menuContainer .menuCount{

}