/* Common */

.sectionTitle {
    font-family: 'Apple SD Gothic Neo';
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1.2px;
    color: #161616;
}

.sectionWhiteTitle {
    font-family: 'Apple SD Gothic Neo';
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -1.2px;
    color: #ffffff;
}

.sectionSmallTitle {
    font-family: 'Product Sans';
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    color: #a0a0a0;
    letter-spacing: -0.5px;
}

/* Banner */
.bannerSection {

}

/* Funding */
.fundingSection {

}

/* HashTag */
.hashTagSection {

}

/* Video */
.videoSection {

}