body {
    font-family: RobotoRegular,'Noto Sans','Apple SD Gothic Neo',Helvetica,Arial,sans-serif;
    background-color: #E3E9F3;
}
.hide {
    visibility: hidden;
    display: none;
}

    /* Content */
.contentContainer{
    margin-left: 180px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #E3E9F3;
}

/* Footer */
.footerContainer{

}


/*********************************************
**********************************************
*********************************************/