/* Table */
.tableContainer{
    margin: 20px;
    min-width: 600px;
}
/* Table Header */
.tableHeaderBox{
    margin-bottom: 15px;
    height:30px;
    line-height: 30px;
}
.tableHeaderBox .tableTitle{
    float: left;
    line-height: 30px;
    font-size: 20px;
    font-weight: 700;
}
.tableHeaderBox .tableAddBtn{
    float: left;
    margin-left: 20px;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    background-color: #FF3A30;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}
.tableHeaderBox .tableAddBtn:hover{
    background-color: #EE2920;
}
.tableHeaderBox .tableSearch{
    position: relative;
    float: right;
}
.tableHeaderBox .tableSearchIcon{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    height: 20px;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
    cursor: pointer;
}
.tableHeaderBox .tableSearchInput{
    float: left;
    padding-left: 35px;
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    outline: none;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}
/* Table Meta */
.tableMetaBox{
    height: 40px;
}
.tableMetaBox .tableMetaTitle{
    float: left;
    line-height: 40px;
    font-size: 15px;
    color: #AAAAAA;
}
.tableMetaBox .tableMetaBtn{
    float: right;
    margin: 7px 0;
    padding: 0 15px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FFFFFF;
}

/* Table Tab */
.tableTabBox{
    height: 50px;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    background: #FFFFFF;
}
.tableTabBox .tableTab{
    float: left;
    height: 50px;
    cursor: pointer;
}
.tableTabBox .tableTab:hover{
    border-bottom: 2px solid #EE2920;
}
.tableTabBox .tableTab .tableTabText{
    margin: 10px 0;
    padding: 0 20px;
    line-height: 30px;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
    border-right: 1px solid #DDDDDD;
    color: #000000;
}
.tableTabBox .tableTab:last-child .tableTabText{
    border-right: none;
}

.tableTabBox .tableTab.active{
    border-bottom: 2px solid #FF3A30;
}
/* Table Content */
.tableContentBox{
    border: 1px solid #DDDDDD;
    background-color: #FFFFFF;
}
.tableContentBox .tableContentHeader{
    display: block;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    font-size: 16px;
    background: #F7F7F7;
    border-bottom: 1px solid #DDDDDD;
}
.tableContentBox .tableContentHeader .column{

}
.tableContentBox .tableContentItem{
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
}
.tableContentBox .tableContentItem:hover{
    background-color: #F3F6FA
}
.tableContentBox .tableContentItem .column .columnBtn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #0F5DD4;
    cursor: pointer;
}
.tableContentBox .tableContentItemOption{
    display: none;
    visibility: hidden;
}
.tableContentBox .tableContentItem:hover .tableContentItemOption{
    display: inline-block;
    visibility: visible;
}

.tableContentBox .tableContentHeader>div, .tableContentBox .tableContentItem>div, .tableContentBox .tableContentItem>a{
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tableContentBox .tableContentItem>a{
    color: #0F5DD4;
}
.tableContentBox .tableLoadingBox{
    height: 70px;
    text-align: center;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}
.tableContentBox .tableLoadingIcon{
    margin-top: 20px;
    width: 30px;
    height: 30px;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}



/**/
.pagination {
    margin: 20px auto 50px;
    display: block;
    text-align: center;
    padding: 0;
}
.pagination .pageNav {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid #DDDDDD;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}
.pagination .pageNav:first-child{
    border-radius-top-left: 4px;
    border-radius-bottom-left: 4px;
}
.pagination .pageNav:last-child{
    border-right: 1px solid #DDDDDD;
    border-radius-top-right: 4px;
    border-radius-bottom-right: 4px;
}
.pagination .pageNav a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #000000;
    cursor: pointer;
}
.pagination .active, .pagination .active a{
    background-color: #e74141;
    color: #FFFFFF;
}
/*********************************************
**********************************************
*********************************************/